
<nav ng-controller="HeaderController as header">
  <ul>
    <li ng-class="{'active': sidebarVisible}" class="visible-xs visible-sm hidden-md"><a href="" ng-click="toggleSidebar()" ng-class="app.header.menulink" class="menu-link"><span><em></em></span></a></li>
    <li ng-class="{'active': sidebarOffcanvasVisible}" ng-if="app.sidebar.offcanvas" class="hidden-xs hidden-sm"><a href="" ng-click="toggleSidebarOffcanvasVisible()" ng-class="app.header.menulink" class="menu-link"><span><em></em></span></a></li>
  </ul>
  <h2 ng-bind="$state.$current.title" class="header-title"></h2>
  <ul class="pull-right">
    <li><a href="" ng-click="header.openModalSearch()" class="ripple"><em class="ion-ios-search-strong"></em></a></li>
  </ul>
</nav>
