
<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <small>Crie sua lista de compras a partir das cotações dos produtos.</small>
    </div>
  </div>
</div>
<div ng-controller="uiSelectController as uisel" class="container-fluid">
    <div class="card">
        <div class="card-heading">
        </div>
        <div class="card-body pt0">
            <fieldset class="m0 p0">
            <div class="form-group">
                <div class="col-md-3 col-sm-4">
                    <p class="m0">Escolha um produto:</p>
                </div>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                        <ui-select ng-model="uisel.produto.selected" theme="bootstrap" ng-disabled="uisel.disabled" reset-search-input="false" class="text-left" on-select="uisel.mostrar($item,$model)">

                            <ui-select-match placeholder="Selecione ou busque um produto na lista...">{{$select.selected.codigo}} - {{$select.selected.nome}}</ui-select-match>

                            <ui-select-choices repeat="produto in uisel.produtos | filter: $select.search track by $index" refresh="uisel.refreshProdutos($select.search)" refresh-delay="1000">
                                <small ng-bind-html="produto.codigo | highlight: $select.search"></small> - <span ng-bind-html="produto.nome | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="uisel.adicionar()" class="mb-sm btn btn-info ripple"><span data-pack="android" class="ion-android-search"></span> Cotar<span class="md-ripple"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <div class="card-title">Cotações</div>
        </div>
        <table ng-table-dynamic="uisel.tableParams with uisel.cols" class="ng-table-wrapper table table-striped" ng-table-columns-binding="uisel.cols">
            <tbody>
                <tr ng-repeat="produto in $data">
                    <td ng-repeat="col in $columns" sortable="col.field" class="text-center">
                    {{produto[col.field]}}<span ng-if="!produto[col.field]" class="text-muted text-center">Não há cotação no dia</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
