/**
 * Bootstrap Reset
 */

@import '../common/variables';
@import '../common/mixins';

//
// Use this file to reset simple bootstrap styles
// instead of modifying the core files
// Makes easy to update new framework versions
// --------------------------------------------------

*:focus {
    outline: 0 !important;
}

a, .btn-link {
    outline: none !important;
    color: @link-color;
    .transition(color .2s ease);
    &:focus, &:hover {
        color: darken(@link-color, 6%);
        cursor: pointer;
    }
    &.text-muted {
        &:hover, &:focus {
            color: darken(@text-muted, 10%);
        }
    }
}

.text-muted {
    color: @text-muted;
}

hr {
    border-top: 1px solid fade(@gray-base,36%);
}

code {
    margin-left: 1px;
    margin-right: 1px;
    -webkit-font-smoothing: auto;
    padding: 0.125em 0.35em;
    border-radius: 2px;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.045);
    color: #106CC8;
}

pre {
    background-color: fade(@gray-base,12%);
    border-color: fade(@gray-base,26%);
    color: inherit;
}

.img-thumbnail {
    border-radius: 1px;
    border: 0;
    .box-shadow(@material-shadow-z2);
}

.page-header {
    border-bottom-color: fade(@gray-base,6%);
}

// Breadcrumb
// -----------------------------------

.breadcrumb {
    font-weight: normal;
    border-radius: 0;
    color: @text-muted;
    padding: 20px 20px;
    background-color: #fff;
    border-bottom: 1px solid fade(@gray-base,16%);
}


// Buttons
// -----------------------------------

.btn {
    outline: none !important;
    border-radius: 2px;
    .transition-property(~"background-color, color, box-shadow");
    .transition-duration(~".1s, .2s, .2s");
    .transition-timing-function(ease-in-out);
    &:active, &.active {
        .box-shadow(0 0 0 #000);
    }
}

.btn-default { .button-variant(@text-color, #fff, @gray-lighter); }
.btn-primary { .button-variant(#fff, @brand-primary, @brand-primary); }
.btn-success { .button-variant(#fff, @brand-success, @brand-success); }
.btn-info    { .button-variant(#fff, @brand-info, @brand-info); }
.btn-warning { .button-variant(#fff, @brand-warning, @brand-warning); }
.btn-danger  { .button-variant(#fff, @brand-danger, @brand-danger); }

// Emphasis
// -----------------------------------

.text-primary { color: @brand-primary; }
.text-success { color: @brand-success; }
.text-info { color: @brand-info; }
.text-warning { color: @brand-warning; }
.text-danger { color: @brand-danger; }

// Pagination
// -----------------------------------


.pagination {
    >li>a,
    >li>span {
        color: inherit;
        background-color: rgba(240,240,240,.06);
        border-color: fade(@gray-base,16%);
    }
    >li>span {
        cursor: default;
        &:hover, &:focus {
            background-color: transparent !important;
        }
    }
    >li>a:focus,
    >li>a:hover {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #fff;
    }
    >.active>a,
    >.active>a:focus,
    >.active>a:hover {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: #fff;
    }
    > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
            background-color: rgba(240,240,240,.06);
            border-color: fade(@gray-base,16%);
        }
    }
}


.pager {
    >li>a,
    >li>span {
        color: inherit;
        background-color: rgba(240,240,240,.06);
        border-color: fade(@gray-base,36%);
        &:hover, &:focus {
            background-color: fade(@gray-base,16%);
        }
    }
    .disabled>a,
    .disabled>a:focus,
    .disabled>a:hover,
    .disabled>span {
        background-color: fade(@gray-base,16%);
    }
}

// Labels
// -----------------------------------

.label-default {}
.label-primary { background-color: @brand-primary; }
.label-info { background-color: @brand-info; }
.label-success { background-color: @brand-success; }
.label-warning { background-color: @brand-warning; }
.label-danger { background-color: @brand-danger; }

// Alerts
// -----------------------------------
.alert-primary {
    .alert-variant(@brand-primary; @brand-primary; #fff);
    a, .alert-link { color: rgba(255,255,255,.58); }
}
.alert-success {
    .alert-variant(@brand-success; @brand-success; #fff);
    a, .alert-link { color: rgba(255,255,255,.58); }
}
.alert-info {
    .alert-variant(@brand-info; @brand-info; #fff);
    a, .alert-link { color: rgba(255,255,255,.58); }
}
.alert-warning {
    .alert-variant(@brand-warning; @brand-warning; #fff);
    a, .alert-link { color: rgba(255,255,255,.58); }
}
.alert-danger {
    .alert-variant(@brand-danger; @brand-danger; #fff);
    a, .alert-link { color: rgba(255,255,255,.58); }
}

.alert-dismissable .close, .alert-dismissible .close {
    color: rgba(0,0,0,.75);
}

// List
// -----------------------------------

.list-group {
    .list-group-item {
        color: inherit;
        background-color: transparent;
        border-color: fade(@gray-base,12%);
        &.active {
            color: #fff;
        }
        &.disabled, &.disabled:focus, &.disabled:hover {
            background-color: fade(@gray-base, 12%);
            color: inherit;
        }
        .panel > & {
            border-top: 0;
        }
    }
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    background-color: transparent;
    color: @brand-primary;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: @brand-info;
    border-color: @brand-info;
}

// Panels
// -----------------------------------

.panel {
    border-radius: 3px;
    border: 1px solid fade(@gray-base,16%);
    .panel-heading {
        font-weight: 500;
        padding: 16px 24px;
        border-bottom: 1px solid fade(@gray-base,16%);
    }
    .panel-footer {
        background-color: fade(@gray-base,10%);
        border-color: fade(@gray-base,10%);
    }
}

.panel-group {
    .panel {
        .panel-heading {
            padding: 12px 24px;
        }
        .panel-title a {
            text-decoration: none;
        }
    }
}

.panel-default { .panel-variant(fade(@gray-base,26%); #333; fade(@gray-base,7.5%); fade(@gray-base,26%)); }
.panel-primary { .panel-variant(fade(@brand-primary, 15%); #fff; @brand-primary; @brand-primary); }
.panel-success { .panel-variant(fade(@brand-success, 15%); #fff; @brand-success; @brand-success); }
.panel-info    { .panel-variant(fade(@brand-info, 10%); #fff; @brand-info; @brand-info); }
.panel-warning { .panel-variant(fade(@brand-warning, 10%); #fff; @brand-warning; @brand-warning); }
.panel-danger  { .panel-variant(fade(@brand-danger, 10%); #fff; @brand-danger; @brand-danger); }

// Well & Jumbotron
// -----------------------------------

.well {
    border: 1px solid fade(@gray-base,16%);
    background-color: #fff;
    // .box-shadow(@material-shadow-z1);
}

.jumbotron {
    border: 1px solid fade(@gray-base,12%);
    background-color: #fff;
    // .box-shadow(@material-shadow-z1);
    p {font-weight: 300;}
    @media @min-tablet {
        padding: 30px 15px;
    }
}

// Nav - Tabs - Pills
// -----------------------------------
.nav-tabs { padding-bottom: 1px; }

.nav-tabs>li {
    // color: @text-color;
}

.nav-tabs>li>a,
.nav-tabs.nav-justified>li>a {
    padding: 16px 24px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    // border-bottom: 2px solid;
    color: inherit;
    &:hover, &:focus {
        border-bottom-color: fade(@gray-base,36%);
        background-color: transparent;
        color: inherit;
    }
}
.nav-tabs.nav-justified>li>a { margin-bottom: 2px; border-bottom-color: fade(@gray-base,16%);}

.nav-tabs>li.active {
    color: @brand-primary;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: 0;
    border-bottom: 2px solid;
    color: inherit;
    background-color: transparent;
}
.tab-content {
    padding: 10px 20px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: @brand-primary;
}
.nav-pills>li+li {
    margin-left: 5px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: fade(@gray-base,12%);
}

// Forms & Inputs
// -----------------------------------

.form-control {
    .box-shadow(0 0 0 #000) !important;
    &:focus {
        border-color: #aaa;
    }
}

@media @max-desktop {
  // Remove Input Shadows on iPad
  input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
    -webkit-appearance: none;
  }
}

.has-success {
    .form-control-validation(@brand-success; @brand-success; @brand-success);
}
.has-warning {
    .form-control-validation(@brand-warning; @brand-warning; @brand-warning);
}
.has-error {
    .form-control-validation(@brand-danger; @brand-danger; @brand-danger);
}

.input-sm,
select.input-sm {
    height: 31px;
}

legend {
    border-color: fade(@gray-base,25%);
    color: inherit;
}

fieldset {
    padding-bottom: 20px;
    border-bottom: 1px dashed fade(@gray-base,25%);
    margin-bottom: 20px;
    &.last-child,
    &:last-child {
        border-bottom: 0;
    }
    .form-group {
        margin-bottom: 0;
    }
}

@media @max-tablet {
    // Remove Input Shadows on iPad
    input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
        -webkit-appearance: none;
    }
}

// Tables
// -----------------------------------

.table {
    font-weight: 400;
    // Bottom align for column headings
    > thead > tr > th {
        border-bottom-width: 1px;
        border-color: fade(@gray-base,16%);
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        height: 48px;
        font-size: 12px;
        // color: rgba(0,0,0,.54);
        padding: 0 18px 0 18px !important;
        padding-bottom: 8px !important;
    }
    > tbody > tr > td {
        position: relative;
        vertical-align: middle;
        height: 48px !important;
        // line-height: 36px !important;
        padding: 14px 18px;
        border-top: 1px solid rgba(0,0,0,.045);
    }
    tbody {
        // color: @mdc-grey-600;
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-bottom-width: 1px;
    }
}

.table-hover>tbody>tr:hover {
    background-color: fade(@gray-base,6%);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: fade(@gray-base,6%);
}
.table-bordered {
    border-color: fade(@gray-base,26%);
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 1px;
        }
    }
    >tbody>tr>td,
    >tbody>tr>th,
    >tfoot>tr>td,
    >tfoot>tr>th,
    >thead>tr>td,
    >thead>tr>th {
        border-color: fade(@gray-base,26%);
    }
}

// Generate the contextual variants
.table-row-variant(active; @mdc-blue-grey-100);
.table-row-variant(success; @brand-success);
.table-row-variant(info; @brand-info);
.table-row-variant(warning; @brand-warning);
.table-row-variant(danger; @brand-danger);

// improve colorization
tr {
    &.active,&.success,&.info,&.warning,&.danger {
        color: rgba(0,0,0,0.67);
        > td {border-top: 0 !important;}
    }
}

// Progress
// -----------------------------------

.progress {
    .box-shadow(0 0 0 #000);
    border-radius: @border-radius-small;
    border: 1px solid rgba(240,240,240,.1);
    background-color: fade(@gray-base,26%);
    .progress-bar {
        .box-shadow(0 0 0 #000);
    }

    // Different size of Progress bars
    &.progress-sm {
        height: @progress-height-sm;
    }

    &.progress-xs {
        height: @progress-height-xs;
        border-radius: 0;
        border: 0;
    }
}

.progress-bar { background-color: @brand-primary; }
.progress-bar-info { background-color: @brand-info; }
.progress-bar-success { background-color: @brand-success; }
.progress-bar-warning { background-color: @brand-warning; }
.progress-bar-danger { background-color: @brand-danger; }

// Popover
// --------------------------------------------------

.popover {
    .box-shadow(@material-shadow-z1);
    border-color: @gray-lighter;
    border-radius: @border-radius-small;
    color: @text-color;
}

// Carousel
// -----------------------------------

.carousel {
    .carousel-indicators {
        bottom: 0;
    }
    .carousel-control {
        &.left,
        &.right {
            background-image: none;
        }
        // Add support for icons
        em {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 5;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            margin-left: -10px;
        }
    }
}

// Dropdowns
// -----------------------------------

.dropdown-menu {
    top: 80%;
    border: 1px solid @gray-lighter;
    border-radius: 1px;
    .box-shadow(~"0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)");
    > li > a {
        display: block;
        color: @gray-darker;
        &:hover {
            background: @gray-lighter;
        }
    }
    > li > a > em {
        margin-right: 10px;
    }
}

.dropdown-header {
    color: #a1a2a3;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #666;
    &:hover, &:focus {
        color: #222;
    }
}

// fix for ie9 (dropdwon no showing)
.navbar,
.navbar .dropdown-menu {
    filter: none !important;
}

// Badges
// -----------------------------------

.badge {
  @sz: 20px;
  width: @sz;
  height: @sz;
  padding: 0;
  line-height: @sz;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
}

.has-badge {
  position: relative;
  .badge {
    position: absolute;
    top: 18%;
    right: 4px;
  }
}

// Glyphicons paths
// -----------------------------------

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../../vendor/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}