.modal-header
    .media.m0.pv
        .pull-right(ng-click='mod.close()')
            sup: em.ion-close-round.text-muted.icon-2x
        .media-left
            a(href='#')
                img.media-object.img-circle.thumb64(src='static/app/img/user/04.jpg', alt='User')
        .media-body.media-middle
            h4.media-heading Patrick Brooks
            span.text-muted patrick.brooks@mail.com
.modal-body
    // START dropdown
    .pull-right.dropdown(uib-dropdown='dropdown2')
        button.btn.btn-default.btn-flat.btn-flat-icon(type='button', uib-dropdown-toggle='')
            em.ion-android-more-vertical
        ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
            li: a(href='')
                em.ion-star.icon-fw
                | Favorite
            li: a(href='')
                em.ion-ios-box.icon-fw
                | Archive
            li: a(href='', ng-click='mod.close()')
                em.ion-trash-a.icon-fw
                | Discard
    // END dropdown
    p.text-muted 26 aug 2015 10:30 am
    h4.mt Nam vel tristique dolor.
    .reader-block
        p Praesent vel nisi nibh. Vestibulum purus ipsum, rutrum varius aliquam id, rhoncus eget neque. Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.
        p Aenean risus nulla, aliquam sed aliquam vitae, ultricies non elit. Suspendisse nunc massa, euismod eu egestas quis, molestie sit amet mauris. Mauris eu lacus massa, vel condimentum lectus. Quisque quam justo, cursus sit amet pretium vel, viverra vel leo. Nullam lobortis consectetur hendrerit. Aenean rhoncus, est vel vestibulum tristique, ante lectus elementum augue, eu dictum turpis dui ut ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        p Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Praesent et mauris lacus, non volutpat augue.
.modal-footer
    .text-left
        p Reply
    .media.m0.pv
        .media-left
            a(href='#')
                img.media-object.img-circle.thumb32(src='static/app/img/user/01.jpg', alt='User')
        .media-body.media-middle
            form(action='')
                .mda-form-group
                    .mda-form-control.pt0
                        textarea.form-control(rows='3', aria-multiline='true', tabindex='0', aria-invalid='false')
                        .mda-form-control-line
    button.btn.btn-success(ng-click='mod.close()') Send
